.modal {
  .modal-dialog {
    .modal-content {
      padding-bottom: 20px;
      border-radius: 0;
      .modal-header {
        border: none;
        button.close {
          span {
            font-size: 36px;
            font-weight: lighter;
          }
        }
        h1 {
          text-align: center;
          font-size: 29px;
        }
        img {
          max-height: 50vh;
          max-width: 30vw;
          margin: 0 auto;
          @include iphone {
            max-width: 75vw;
          };
        }
        p {
          padding: 20px 20px 0 20px;
        }
        a.web-btn {
          // margin: 20px 0;
          text-align: center;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}



section.facts-container {
  background: red;
  background-image: url( '../images/Brick_BG.jpg');
  background-repeat: repeat;
  min-height: 100vh;
  padding-top: 100px;
  .container {
    background: rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 5px #838383;
    padding: 30px 0;
    margin-bottom: 20px;
    .row {
      .row {
        margin: 0 -15px;
        .facts-thumb {
          // background: #000;
          height: 200px;
          overflow: hidden;
          margin-bottom: 30px;
          cursor: pointer;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
      h1 {
        text-align: center;
      }
      p {
        text-align: justify;
        padding-bottom: 20px;
      }
      hr {
        height: 1px;
        margin-top: 20px;
        background: #000;
        width: 60%;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
      }
      h3 {
        text-align: center;
        padding: 30px 0 40px 0;
      }
      .quote {
        text-align: center;
        margin-top: 40px;
      }
      .author {
        text-align: center;
      }
    }
  }
}
