$social-height: 60px;

section.home-container {
  // background: red;
  // min-height: 500px;
  height: 100vh;
  overflow: hidden;
  .row {
    margin: 0 -15px;
    .slideshow {
      img {
        // height: 100vh;
        width: 100%;
        margin: -6.45% auto;
        @include mobile {
          // margin: -6.45% auto;
          object-fit: cover;
          height: calc(100vh + 100px);
        };
      }
    }
  }
}
